In [13]:
#按照物品的相似性推荐

In [1]:
#load pickle for item similarity
import pickle
df=open('./item_similarity.pkl','rb')#注意此处是rb
item_simpickle = pickle.load(df)

In [2]:
item_simpickle.shape

(131263, 5)

In [3]:
import pandas as pd
df = pd.read_csv('/usr/dataset/ml-20m/ratings.csv')

In [4]:
df

          userId  movieId  rating   timestamp
0              1        2     3.5  1112486027
1              1       29     3.5  1112484676
2              1       32     3.5  1112484819
3              1       47     3.5  1112484727
4              1       50     3.5  1112484580
...          ...      ...     ...         ...
20000258  138493    68954     4.5  1258126920
20000259  138493    69526     4.5  1259865108
20000260  138493    69644     3.0  1260209457
20000261  138493    70286     5.0  1258126944
20000262  138493    71619     2.5  1255811136

[20000263 rows x 4 columns]

In [ ]:
users_rec = dict()
from tqdm import tqdm
import copy
import collections
values = df[['userId','movieId']].values
recurrent_list = []
for i,line in tqdm(enumerate(values)):
    user,item = line    
    append = copy.deepcopy(item_simpickle[item].tolist())
    if values[i][0] == values[i+1][0]:
        recurrent_list.extend(append)
    else:
        Counter = collections.Counter(recurrent_list)
        rec_user = copy.deepcopy(list(Counter.keys())[::-1][:10])
        users_rec[user]= rec_user
        recurrent_list = []

14433180it [01:39, 148285.68it/s]

In [7]:
import pickle
fw = open('recommendation2.pkl','wb')  
pickle.dump(users_rec, fw, -1)

[5, 4, 3, 2, 1]